<form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
  <div class="login-block card-panel">
    <div class="row">
      <h5>Личная информация</h5>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" formControlName="first_name" placeholder="Имя" />
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" formControlName="last_name" placeholder="Фамилия" />
        <label></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" formControlName="area" placeholder="Адрес" />
      </div>
    </div>
    <div class="row">
      <h5>Описание</h5>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="date" class="validate" formControlName="date_start" />
      </div>
      <div class="input-field col s6">
        <input type="date" class="validate" formControlName="date_end" />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <ng-select [items]="bathList" [multiple]="true" bindLabel="type_name" formControlName="type_bath"></ng-select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <ng-select [items]="optionList" [multiple]="true" bindLabel="name_options" formControlName="options"></ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <button class="btn waves-effect waves-light">
          <i class="material-icons right">exit_to_app</i>
          Обновить
        </button>
      </div>
    </div>
  </div>
</form>
