<div class="row">
  <div class="col s12 m3 13 filter-bg h-100vh">
    <div class="filter-block">
      <div class="row">
        <div class="col s12">
          <div class="heading-text">Точный подбор</div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>Тип ванны</p>
          <ul>
            <li>Ванная</li>
            <li>Джакузи</li>
            <li>Сауна</li>
            <li>Русская баня</li>
            <li>Солярий</li>
            <li>Душ шарко</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>Дополнительные опции</p>
          <ul>
            <li>Фен</li>
            <li>Резиновая уточка</li>
            <li>Потереть спину</li>
            <li>Наличие шампуня</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m5 19 indigo-bg h-100vh">

  </div>
  <div class="col s12 m4 13 description-bg h-100vh">

  </div>
</div>
