<div class="profile-page">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="row">
          <div class="col s12">
            <div class="profile-info card-panel">
              <div class="profile-photo" [ngStyle]="{'background-image': 'url(https://www.fillmurray.com/1000/750)'}">
                <div class="photo">
                  <img src="https://www.fillmurray.com/200/200" class="circle responsive-img" alt="photo">
                </div>
                <div class="profile-name white-text">
                  {{ profile.username }}
                </div>
              </div>
              <div class="profile-actions">
                <div class="collection">
                  <a class="collection-item hide"><span class="new badge">4</span>Чат</a>
                  <a class="collection-item">Редактировать профиль</a>
                  <a class="collection-item" (click)="exit()">Выйти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h5>Последние новости</h5>
            <div class="card-panel">
              <span class="blue-text text-darken-2">Тут будут отображаться какие-то новости</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s8">
        <div class="row">
          <div class="col s12">
            <app-profile-edit [profile]="profile"></app-profile-edit>
          </div>
          <div class="col s12">
            <h5>Фотографии</h5>
            <div class="row">
              <div class="col s4" *ngFor="let img of profile.bath_images">
                <img src="{{img.image}}" alt="">
              </div>
            </div>
            <app-file-upload></app-file-upload>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
