.profile-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo {
  padding: 90px 15px 0;
}

.photo img {
  border: 4px solid #fff;
  width: 100px;
}

.profile-info.card-panel {
  padding: 0;
}

.profile-name {
  padding: 10px 0;
  background: rgba(0,0,0,0.7);
  text-align: center;
}

.profile-actions .collection {
  margin-top: 0;
  border-radius: 0;
  border: none;
}

.profile-actions .collection a.collection-item {
  color: #6C37D6;
}

.profile-actions span.badge.new {
  background: #6C37D6;
}