<div class="row">
  <div class="file-field input-field col s6">
    <div class="btn">
      <span>Загрузить фото</span>
      <input type="file" name="picture" multiple (change)="handleFileInput($event.target.files)">
    </div>
  </div>
</div>
