.navbar__top {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(80, 56, 174, 0.1);
    height: auto;
  }

.navbar__top ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
  
.navbar__top ul li {
  padding-bottom: 2px;
  list-style-type: none;
  cursor: pointer;
}

nav {
  line-height: normal;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
  line-height: 16px;
  background: none;
}

nav a:visited, a:link {
  color: #333;
}
nav li:hover a {
  color: #6C37D6;
  opacity: .7;
}
nav a.active {
  color: #6C37D6;
}