<nav class="navbar__top">
  <ul>
    <li><a routerLink="/bathrooms" routerLinkActive="active">Поиск ванны</a></li>
    <li><a routerLink="/profile" routerLinkActive="active" *ngIf="isUserAuthorized()">Профиль</a></li>
    <li><a routerLink="/login" routerLinkActive="active" *ngIf="!isUserAuthorized()">Войти</a></li>
  </ul>
</nav>