<div class="login-page">
  <div class="container">
    <div class="login-form">
      <div class="row">
        <form class="col s6 offset-s3" #loginForm="ngForm" (ngSubmit)="login(loginForm.form.value)">
          <div class="login-block z-depth-3">
            <div class="row">
              <div class="input-field col s12">
                <input id="username" type="text" class="validate" [(ngModel)]="username" name="username">
                <label for="username">Имя</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
                <label for="password">Пароль</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <button class="btn waves-effect waves-light">
                  <i class="material-icons right">exit_to_app</i>
                  Войти
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>