@import "~@ng-select/ng-select/themes/material.theme.css";

* {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  color: #369;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

body,
input[text],
button {
  color: #888;
  font-family: 'Montserrat', sans-serif;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.navbar__top {
  background: red;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited,
a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

.filter-sidenav {
  width: 20%;
  background: #593DCA;
}

mat-drawer h4 {
  color: #fff;
}

.ng-select .ng-select-container .ng-value-container {
  align-items: center;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  height: 35px;
}

.h-100vh {
  height: 100vh;
}

.heading-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}
